<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunrui.home">

    <application>
        <activity android:name=".Menu_two"></activity>
        <activity
            android:name=".MenuPop"
            android:theme="@style/mainStyle" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".bottom"
            android:label="@string/title_activity_bottom" />
    </application>

</manifest>